# Environnements virtuels
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/

# Packaging
build/
dist/
*.egg-info/

# Notebook / outputs
.ipynb_checkpoints/
outputs/
notebooks/.ipynb_checkpoints/

# OS / IDE
.DS_Store
.vscode/
.idea/
